@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-77bol7');
	src:url('fonts/icomoon.eot?#iefix-77bol7') format('embedded-opentype'),
		url('fonts/icomoon.woff?-77bol7') format('woff'),
		url('fonts/icomoon.ttf?-77bol7') format('truetype'),
		url('fonts/icomoon.svg?-77bol7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-f-abajo:before {
	content: "\f05b";
}
.icon-f-arriba:before {
	content: "\f0aa";
}
.icon-pluma:before {
	content: "\e600";
}
.icon-estrella:before {
	content: "\e601";
}
